.soapui span {
  font-weight: bold;
}

.soapui select, .soapui input[type=submit] {
  margin-top: 10px;
}

.soapui textarea {
  width: 80%;
  display: block;
  font-size: .85em;
  line-height: 1.2em;
  overflow: auto;
  min-height: 200px;
  background-color: #fff;
  border: 1px solid #b5d4ec;
}

.soapui input[type=text] {
  width: 80%;
  display: block;
  font-size: .85em;
  background-color: #fff;
  border: 1px solid #b5d4ec;
}

.soapui select {
  margin-right: 10px;
}

.soapui .hidden {
  display: none;
}

div.soapui {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
}

.soapui h2 {
  color: #999999;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  font-size: 0.9em;
}

textarea#wsdl_textarea{
  min-height: 780px;
  max-width: 100%;
  white-space: nowrap;
  overflow: auto;
  display: block;
  font-size: .85em;
  line-height: 1.2em;
  overflow: auto;
  height: 200px;
  background-color: #fff;
  border: 1px solid #b5d4ec;
}
#soapResponse{
  display: none;
}
.soapdocmentation .form-control{
  width: 100% !important;
}
.soapdocmentation .panel-default>.panel-heading{
  padding: 0;
}
.soapdocmentation .panel-default>.panel-heading a{
  padding: 5px 20px;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  border-radius: 5px;
  background-color: #e7f0f7;
  border: 1px solid #c3d9ec;
  color: #003057;
}
.soapdocmentation .panel-default>.panel-heading+.panel-collapse>.panel-body{
  border: 0;
}

/* Loader */
.lds-facebook {
  display: none;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #000;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}